<div ng-controller="LoginController as LoginCtrl">
    <div class="col-lg-12">
        <h2>Login</h2>
    </div>
    <form ng-submit="LoginCtrl.login()">
        <div class="col-lg-12">
            <label for="username">Username</label>
            <input class="u-full-width" type="text" placeholder="Username" id="username" ng-model="username" autofocus>
        </div>
        <div class="col-lg-12">
            <label for="password">Password</label>
            <input class="u-full-width" type="password" id="password" ng-model="password" placeholder="Password">
        </div>
        <div class="col-lg-12">
            <input class="button-primary login-button" type="submit" value="Log in">
        </div>
    </form>
    <div class="col-lg-12" ng-show="loginFailed">
        <div class="alert-error">
            <strong>Error: </strong> {{errorMessage}}
        </div>
    </div>
</div>